.title {
  margin-top: 25px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  color: #37474F;
}

.input-fields {
  text-align: center;
  margin-bottom: 20px;
}

.search-field {
  margin-right: 50px;
}

.sort-text {
  display: inline-block;
  margin: 7px;
  color: #37474F;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.radio-sort-buttons {
  text-align: center;
}

.sort-divider {
  border-left: 1px solid black;
  padding-left: 7px;
}

.submit-button {
  display: block;
  margin: 7px auto;
  width: 80px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #37474F;
  border: none;
  border-radius: 12px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
    &:hover {
      background-color: #00BCD4;
    }
    &:disabled {
      background-color: #BDBDBD;
    }
    &:hover:disabled {
      background-color: #BDBDBD;
    }
}

.header {
  padding-bottom: 7px;
  box-shadow: 0 4px 6px -6px #222;
}

.optional {
  color: #BDBDBD;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.top-results-text {
  margin: 10px;
  font-size: 18px;
  text-align: center;
  color: #37474F;
}

.repo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.repo {
  margin: 20px;
  width: 45vw;
  display: inline-block;
  padding: 10px;
  line-height: 150%;
  border: 1px solid #FFA000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.details {
  color: #FFA000;
  font-weight: 400;
}

.user-details {
  color: #37474F;
}

.link {
  text-decoration: none;
  color: #00BCD4;
    &:hover {
      color: #6A1B9A;
    }
}
