@import './variables';

.title {
  margin-top: 25px;
  text-align: center;
  font-family: $titleFont;
  font-size: 42px;
  color: $mainFontColor;
}

.input-fields {
  margin-bottom: 20px;
  text-align: center;
}

.search-field {
  margin-right: 50px;
}

.sort-text {
  display: inline-block;
  margin: 7px;
  color: $mainFontColor;
  font-family: $siteFont;
  font-weight: $thinFont;
}

.radio-sort-buttons {
  text-align: center;
}

.sort-divider {
  padding-left: 7px;
  border-left: 1px solid $mainFontColor;
}

.submit-button {
  display: block;
  margin: 7px auto;
  width: 80px;
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: $mainFontColor;
  font-family: $siteFont;
  font-size: 16px;
  font-weight: $thinFont;
  color: #FFFFFF;
    &:hover {
      background-color: $mainStyleColor;
    }
    &:disabled {
      background-color: $lightStyleColor;
    }
    &:hover:disabled {
      background-color: $lightStyleColor;
    }
}

.header {
  padding-bottom: 7px;
  box-shadow: 0 4px 6px -6px #222;
}

.optional {
  font-family: $siteFont;
  font-weight: $thinFont;
  color: $lightStyleColor;
}

.top-results-text {
  margin: 10px;
  text-align: center;
  font-size: 18px;
  color: $mainFontColor;
}

.repo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.repo {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  width: 45vw;
  line-height: 150%;
  border: 1px solid $secondaryStyleColor;
  font-family: $siteFont;
  font-weight: $thinFont;
}

.details {
  color: $secondaryStyleColor;
  font-weight: $thickFont;
}

.user-details {
  color: $mainFontColor;
}

.link {
  text-decoration: none;
  color: $mainStyleColor;
    &:hover {
      color: $linkHoverColor;
    }
}

@import './mediaQuery';
