.title {
  font-family: 'Raleway', sans-serif;
}

.search-field {
  margin-right: 50px;
}

.language-field {
  margin-right: 50px;
}

.submit-button {
  width: 70px;
}

.results-list {
  height: 50vh;
}

.repo {
  width: 50vw;
  margin-bottom: 10px;
  border: 1px solid grey;
}
