$mainFontColor: #37474F;
$mainStyleColor: #00BCD4;
$secondaryStyleColor: #FFA000;
$lightStyleColor: #BDBDBD;
$linkHoverColor: #6A1B9A;

$titleFont: 'Raleway', sans-serif;
$siteFont: 'Roboto', sans-serif;
$thinFont: 300;
$thickFont: 400;


@mixin buttonStyle {
  display: block;
  margin: 7px auto;
  outline: none;
  border: none;
  background-color: $mainFontColor;
  font-family: $siteFont;
  font-size: 16px;
  font-weight: $thinFont;
  color: #FFFFFF;
    &:hover {
      background-color: $mainStyleColor;
    }
    &:disabled {
      background-color: $lightStyleColor;
    }
    &:hover:disabled {
      background-color: $lightStyleColor;
    }
}
